<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- css files import section -->
		<link rel="stylesheet" href="./css//normlize.css" />
		<link rel="stylesheet" href="./css//components.css" />
		<link rel="stylesheet" href="./css//home.css" />
		<!-- google fonts link -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
		<title>Document</title>
	</head>
	<body>
		<!-- start the header section -->
		<header>
			<div class="container">
				<div class="logo">
					<object data="./assets/logo.svg" type=""></object>
				</div>
				<ul class="links"></ul>
				<div class="login">
					<a href="/login" class="fulled_button">Login</a>
				</div>
			</div>
		</header>
		<!-- end the header section -->
		<!-- start the main section -->
		<section class="main">
			<div class="container">
				<div class="content">
					<div class="title">
						<h1>
							We turn <span class="unique">data</span> from a <span class="underlined">concern <object data="./assets/underline.svg" type=""></object></span> to a <span class="unique">felicity</span>
						</h1>
					</div>
					<div class="buttons">
						<a href="/publish-data" class="fulled_button">MONETIZE DATA</a>
						<a href="/marketplace" class="not_fulled_button">Explore Marketplace</a>
					</div>
					<object data="./assets/Star 1.svg" type=""></object>
				</div>
			</div>
			<div class="image">
				<object data="./assets/main_image.svg" type=""></object>
			</div>
		</section>
		<!-- end the main section -->
		<!-- start the about section  -->
		<section class="about" id="about">
			<div class="container">
				<div class="title">
				<div class="">
					<img src="./assets/Star 1.svg" alt="" />
					<h1>About</h1>
				</div>
				<p class="desc">Datum, a startup that will solve the major Algerian problem, which is the lack of data anywhere and everywhere. Startups now will be able to start off business based on existing Algerian data that is by its turn sold by Algerian reliable companies. Datum also gives the opportunity of creating requests incase certain data is not available and also for sellers to check them to get an idea about the market. We also offer a personalized custom people for clients non familiar with data science</p>
			</div>
			<div class="image">
				<img src="./assets/Group 30.svg" alt="" />
			</div>
			</div>
			 <div class="shadow"></div>
		</section>
		<!-- end the about section  -->
		<!-- start how work section -->
		<section class="how-it-works">
        <div class="container">
            <h1>How it works
                <object data="./assets/Star 1.svg"></object>
            </h1>
            <div class="content">
				<div class="element">
					<img src="./assets/how_one.png" alt="">
					<div class="text">
						<h5>Prepare</h5>
						<ul>
							<li>Prepare</li>
							<li>Organize</li>
						</ul>
					</div>
				</div>
				<div class="element">
					<img src="./assets/how_two.png" alt="">
					<div class="text">
						<h5>Publish</h5>
						<ul>
							<li>Prepare</li>
							<li>Organize</li>
						</ul>
					</div>
				</div>
				<div class="element">
					<img src="./assets/how_three.png" alt="">
					<div class="text">
						<h5>Buy/Sell</h5>
						<ul>
							<li>Prepare</li>
							<li>Organize</li>
						</ul>
					</div>
				</div>
				<div class="element">
					<img src="./assets/how_four.png" alt="">
					<div class="text">
						<h5>Earn</h5>
						<ul>
							<li>Prepare</li>
							<li>Organize</li>
						</ul>
					</div>
				</div>
			</div>
            </div>
        </div>
    </section>
		<!-- end how work section -->
		<!-- start the contact section -->
		 <div class="contact-us" id="contact">
              <div class="container"><div class="text">
            <h1>Contact-Us 
				<object data="./assets/Star 1.svg" type=""></object>
			</h1>
            <p>If you need help, or have any suggestions or feedback. Our team would be more than glad to interact and get back to you. So don’t hesitate to reach out to us.</p>
            <div class="icons">
                <div class="first-icon">
                <div class="icon"><img src="./assets/location_contact.png" alt=""></div>
                <div class="par">
                    <p class="first-par">Our Location</p>
                    <p >Cite Cinq Maison N39</p>
                    <p>Alger-Algeria</p>
                </div>
                </div>
                <div class="second-icon">
                    <div class="icon"><img src="./assets/phone_contact.png" alt=""></div>
                    <div class="par">
                        <p class="first-par">Phome number</p>
                        <p>+213 58923568</p>                   
                    </div>
                </div>
                <div class="third-icon">
                    <div class="icon"><img src="./assets/message_contact.png" alt=""></div>
                    <div class="par">
                        <p class="first-par">Email Adress</p>
                        <p>datumdz@gmail.com</p>
                       
                    </div>
                </div>
            </div>
        </div>
        <form class="form">
           
                <input type="text" placeholder="Your Name">
                <input type="text" placeholder="Your Email">
                <input type="tel" placeholder="Your Phone">
                <textarea  rows="25" cols="25">Message</textarea>
                <button type="submit" class="fulled_button">Contact</button>

        </form></div>
		<div class="shadow"></div>
    </div>
		<!-- end the contact section -->
		<!-- start the footer section -->
		<footer>
			<div class="container">
				<div class="logo"><object data="./assets/footer_logo.svg" type=""></object></div>
				<div class="links"></div>
				<div class="social_links">
					<a href=""><img src="./assets/insta_footer.png" alt="" /></a>
					<a href=""><img src="./assets/facebook_footer.png" alt="" /></a>
					<a href=""><img src="./assets/inked_in_footer.png" alt="" /></a>
					<a href=""><img src="./assets/twitter_footer.png" alt="" /></a>
				</div>
				<p>  Copyright &#169 <span class="year" ></span>. All rights deserved</p>
			</div>
		</footer>
		<!-- end the footer section -->
		<!-- script add -->
		<script src="./js//home.js" type="module"></script>
	</body>
</html>