<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./css/requestForm.css" />
		<link rel="stylesheet" href="./css/publishDataForm.css" />
		<link rel="stylesheet" href="./css/components.css" />

		<title>Document</title>
	</head>
	<body>
		<!-- Start the Header  -->
		<header>
			<div class="container">
				<div class="logo">
					<object data="./assets/logo.svg" type=""></object>
				</div>
				<ul class="links"></ul>
				<div class="login">
					<a href="/login" class="fulled_button">login</a>
				</div>
			</div>
		</header>
		<!-- End the Header -->
		<!-- Start the form-->
		<div class="container">
			<form action="" class="form">
				<h3>Do you have a dataset that you would like to be published ?</h3>
				<div class="row">
					<div class="input_box">
						<label for="FullName">Full name</label>
						<input placeholder="Fill your Full name" id="FullName" type="text" />
					</div>
					<div class="input_box">
						<label for="DataTitle">Data Title</label>
						<input placeholder="Suggest a title to the data that you want to request" id="DataTitle" type="text" />
					</div>
				</div>
				<div class="row">
					<div class="input_box">
						<label for="companyName">You Company Name</label>
						<input placeholder="Your company name is very important to the seller" id="companyName" type="text" />
					</div>
					<div class="input_box">
						<label for="purpose">The purpose Behind the Data</label>
						<input placeholder="Please enter your email" id="purpose" type="email" />
					</div>
				</div>
				<div class="row">
					<div class="input_box">
						<label for="description">Description</label>
						<textarea name="" id="description" placeholder="Describe your request so sellers can meet your need..." rows=""></textarea>
					</div>
				</div>
				<div class="row">
					<div class="input_box">
						<label for="phone">Phone number</label>
						<input placeholder="Your company name is very important to the seller" id="phone" type="tel" />
					</div>
					<div class="input_box">
						<label for="category">Category</label>
						<input placeholder="Choose the data category" id="category" type="text" />
					</div>
				</div>
				<label for="file">
					<input type="file" id="file" name="file"/>
					<div class="picture">
					<div class="picture_box">
						<div class="content">
							<p>Add a picture</p>
							<img src="./assets/image.png" alt="" />
						</div>
					</div>
					<div class="text">
						<h4>Add picture</h4>
						<p>Please make sure the photo is relevant</p>
					</div>
				</div>
				</label>
				
				<h5 class="note">*Your post will be displayed to sellers for them to know what to provide on the market</h5>
				<div class="button-container">
					<div class="button_container">
						<button class="fulled_button">Submit</button>
					</div>
				</div>
			</form>
		</div>
		<script src="./js//home.js" type="module"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="./js/publish-data.js"></script>
	</body>
</html>